html {
    overflow-y: scroll;
}

html, body, main, main > div  {
    height: 100%;
}

main > div {
    display: flex;
    flex-direction: column;
}

main > div > section {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.g-min-width-90 {
    min-width: 90px;
}

.u-header, .u-header__section, .navbar, .list-group-item.active {
    z-index: -10;
}

li.react-tabs__tab--selected {
    border-radius: 0;
}